extends layout

block content

  article(class='accounts')
    h1(class='is-size-1 mt-4') Accounts

    table(class='accounts table is-fullwidth')
      thead
        tr
          th Account Id
          th Domain Id
          th Quorum
      tbody
