extends layout

block content

  article(class='assets')
    h1(class='is-size-3 mt-4') Assets

    table(class='assets table is-fullwidth')
      thead
        tr
          th(class='marker')
          th Asset Id
          th Domain Id
          th Precision
      tbody
