nav(class='navbar container is-fixed-bottom is-light is-hidden-touch')
  div(class='navbar-start')
    div(class='navbar-item')
      span(class='is-large') some
      span(class='is-large') :&nbsp;
        span(id='account' class='has-text-weight-bold') stuff
