head
  title= (title || 'Iroha Explorer')
  link(rel='stylesheet' href='/css/iroha-explorer.min.css' as='style')
  link(rel='preload' href='/css/fontawesome.min.css' as='style')
  link(rel='preload' href='/css/solid.min.css' as='style')
  link(type='image/png' rel='shortcut icon' href='/media/favicon.png')
  script(src='/js/umbrella.min.js')
  script(src='/js/ui.js')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
