@charset "utf-8";

@import "../../../node_modules/bulma/bulma";

@keyframes fadein {
    from { opacity: 0; visibility: visible; }
    to   { opacity: 1; visibility: visible; }
}

@keyframes fadeout {
    from { opacity: 1; visibility: visible; }
    to   { opacity: 0; visibility: hidden; }
}

.fadein {
  animation: fadein 1s linear forwards;
}

.fadeout {
  animation: fadeout 1s linear forwards;
}

html.error {
  h1 {
    font-size: 4rem
  }
  h1 span.error-status {
    padding-right: 1rem
  }
}

section.section {
  padding: 1rem 0 1.5rem;
}

article.article {
  padding: 0 0.5rem;
}

#status-connection {
  padding-left: 1rem;
}

table.blocks, table.accounts, table.assets {
  table-layout: fixed;

  tr td {
    border: none;
    border-top: 1px solid $border;
  }

  th.marker {
    width: 2%;
  }
  td.marker {
    cursor: pointer;
    padding: 0.5em 0;
  }

  td.data {
    border: none;
    font-family: monospace;
    font-size: 0.75rem;
    padding-left: 3rem;
    white-space: pre-wrap;
    word-break: break-all;
  }
}

div.summary {
  .height {
    padding-left: 1rem;
  }
}
